name: BuildAndTest

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v1.7.2
      with:
        dotnet-version: 5.0.100
    - uses: actions/checkout@v1
    - name: Build with dotnet
      working-directory: ./src
      run: dotnet build --configuration Release
    - name: Run Tests
      working-directory: ./src
      run: dotnet test
